body {
	background-color: #0b1f3c;
}
h1 {
	color:  #8bbfec;
	font-family: Chakra Petch;
	font-size: 300%;
}

@media only screen and (max-width: 2500px) {h1 {font-size: 45px;}}
@media only screen and (max-width: 2020px) {h1 {font-size: 40px;}}
@media only screen and (max-width: 1750px) {h1 {font-size: 30px;}}
@media only screen and (max-width: 1300px) {h1 {font-size: 25px;}}
@media only screen and (max-width: 1150px) {h1 {font-size: 20px;}}
@media only screen and (max-width: 950px) {h1 {font-size: 15px;}}

h2 {
	color:  #8bbfec;
}
h3 {
	color:  #8bbfec;
}
h4 {
	color:  #8bbfec;
}
h5 {
	color:  #8bbfec;
}
h6 {
	color:  #8bbfec;
}
p {
	color:  #bbcfec;
}

div {
	border-radius: 1%;
	padding: 4%;
}

.flex-container {
  	display: flex;
 	flex-wrap: nowrap;
 	clear: both;
  	color:  #bbcfec;
	border-width: thin;
	border-style: dotted;
}

a {
	text-decoration: none;
}
a:link { 
	color: #df93cc;
}
a:visited { 
	color: #90758d;
}
a:hover {
	text-decoration: underline;
}
ul {
	color: #8bbfec;
}
ol {
	color: #8bbfec;
}
table {
	color: #dab2cc;
	border-color: #90758d;
}
th {
	color: #90758d;
}
td {
	color: #bbcfec;
}

td {
	color: #eed8e5;
}
