body {
	background-color: #0b1f3c;
}

h1 {
	color:  #8bbfec;
	font-family: Chakra Petch, sans-serif;
	padding:0;
	margin-top:0;
	margin-bottom:0;
}
@media only screen and (min-width: 2501px) {h1 {font-size: 105px;}}
@media only screen and (max-width: 2500px) {h1 {font-size: 90px;}}
@media only screen and (max-width: 2020px) {h1 {font-size: 80px;}}
@media only screen and (max-width: 1750px) {h1 {font-size: 70px;}}
@media only screen and (max-width: 1300px) {h1 {font-size: 60px;}}
@media only screen and (max-width: 1150px) {h1 {font-size: 50px;}}
@media only screen and (max-width: 950px) {h1 {font-size: 3rem;}}
@media only screen and (max-width: 560px) {h1 {font-size: 2.5rem;}}

.tagline {
	margin-top:0;
	margin-bottom:0;
	font-family:Manrope,sans-serif;
}

@media only screen and (max-width: 1000px) {.tagline {font-size:1.75rem;}}
@media only screen and (max-width: 872px) {.tagline {font-size:1.5rem;}}
@media only screen and (max-width: 746px) {.tagline {font-size:1.25rem;}}
@media only screen and (max-width: 629px) {.tagline {font-size:1.15rem;}}
@media only screen and (max-width: 580px) {.tagline {font-size:1.05rem;}}
@media only screen and (max-width: 528px) {.tagline {font-size:1rem;}}
@media only screen and (max-width: 500px) {.tagline {font-size:0.75rem;}}

.logo {
	width:30%;
	border: hidden;
}

@media only screen and (max-width: 950px){.mobile-hidden {display:none;}}
@media only screen and (min-width: 951px){.mobile-only {display:none;}}

h2 {
	color:  #8bbfec;
}
h3 {
	color:  #8bbfec;
}
h4 {
	color:  #8bbfec;
}
h5 {
	color:  #8bbfec;
}
h6 {
	color:  #8bbfec;
}
p {
	color:  #bbcfec;
	font-family: "Inter", sans-serif;
	font-size: 2rem;
}
@media only screen and (max-width: 560px) {p {font-size: 1.5rem;}}
div {
	border-radius: 25px;
	padding: 3%;
}

.flex-container {
  	display: flex;
 	flex-wrap: nowrap;
 	clear: both;
  	color:  #bbcfec;
}

.media-box {
	background-color: #091b35;
	margin: 3% 3% 3% 3%;
}
.navbar {
	margin-top:2%;
	text-align: center;
	background-color: #07172e;
	align-items: center;
	padding:0;
	display: inline-block;
	flex-direction: row;
	justify-content: center;
	width: 95%;
	position: -webkit-sticky; /* Safari, ignore errors */
	position: sticky;
	top: 0;
}
li.navbar-item {
		text-align: center;
		list-style-type: none;
		margin: 0;
		padding: 0 10% 0 10%;
		display: inline-flex;
}
@media only screen and (max-width: 820px) {li.navbar-item {padding: 0 5% 0 5%;}}
a {
	background-color: #091b35;
	color: #bbcfec;
	border: 2px #6f73db;
	font-size: 2rem;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: Manrope,sans-serif;
	font-weight: bold;
	margin: 10% 10% 10% 10%;
}
a:hover, a:active {
	background-color:#192b45;
	color:#bbcfec;
	font-size: 2.2rem;
	font-family: Manrope,sans-serif;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}
ul {
	color: #8bbfec;
	font-family: "Inter", sans-serif;
	font-size: 2rem;
	list-style-type: lower-alpha;
	padding: 0;
}
ol {
	color: #8bbfec;
	font-family: "Inter", sans-serif;
	font-size: 2rem;
	list-style-type: lower-alpha;
}

@media (min-width: 1568px) {
	.re-order .row {
		display: flex;
		display: -ms-flex;
		flex-direction: row;
	}
	.re-order .row .first {
		order: 2;
	}
	.re-order .row .second {
		order: 1;
	}
}
@media (max-width: 1569px) {
	.re-order .row {
		display: flex;
		flex-direction: column;
	}
	.re-order .row .first {
		order: 1;
	}
	.re-order .row .second {
		order: 1;
	}
}

img {
	border-radius: 2rem;
	width:400px;
}
@media only screen and (max-width: 1020px) {img {width:70%;}}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}